body {
    margin: 0;
    border: 0;
   
}
.container {
    width: 100vw;
    height: 100vh;
    background:#d5f6f4;
}
.title {
    font-family: Itim;
    font-size: 2.9rem;
    text-align: center;
    color: #66bfbf;
    margin-top: 0;
}
p {
    margin: 0 auto;
    text-align: center;
    color: #072220;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.result {
    border: solid 1px grey;
    height: 5vh;
    width: 30vw;
    margin: auto;
}
.input {
    height: auto;
    width: 100vw;
    margin: 3rem 0;
    display: flex;
    flex-flow: wrap;
}
.text1 {
   height: 6vh;
   width: 40vw;
   background: transparent;
}
.input1, .input2 {
   height: 15vh;
   width: 49vw;
   border: solid 1px grey;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.calculate {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub {
    height: 3rem;
    width: 10rem;
    background-color: #b9f2f2;
    border-radius: 30px;
    text-align: center;
    font-size: large;
}



@media (max-width: 764px) {
    .title {
        font-size: 1.8rem;
    }
    .input {
        height: auto;
    }
    .input1, .input2 {
        width: 80vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text1{
        margin: 0 7.5rem;
    }
}